# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/Components/Accordian.js
Screenshots/Copy.png
Screenshots/Copy1.png
Screenshots/lightmode.png
Screenshots/Lowercase.png
Screenshots/Lowercase1.png
Screenshots/remove_spaces_1.png
Screenshots/remove_spaces_2.png
Screenshots/TextutilsHome.png
Screenshots/Uppercase.png
Screenshots/Uppercase1.png
