body{
  background-color: #14120d;
  color: #f8d98b;
}

h1{
  font-size: xx-large;
}
h2{
  font-size: x-large;
}
h3{
  font-size: 20px;
}

textarea#exampleFormControlTextarea1dark{
  background: rgb(53, 50, 38);
  color:#f8d98b;
}

textarea#exampleFormControlTextarea1light{
  background-color: #ffe8ae;
  color: #14120d;
}

.navbar-light{
  color:black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
